html{
    font-size: 16px;
    

}

/*--Variables--*/
    /*Colores*/
    :root{
        --color-primario: #0077ff;
        --color-secundario: #008d18;

        --color-fondo-primario: #ffffff;/*----------------------------------nuevos colores*/
        --color-fondo-secundario: #cacaca;/*---------------------------------nuevos colores*/

        --color-fondo: #cacaca;
        --color-acento: #E8611A;
        --color-texto: #1A1A1A;
        --fuente: "Share Tech Mono", monospace;


    }

/*--Reset--*/
* { box-sizing: border-box;
    margin: 0; padding: 0; 
}

/*--Tipografia--*/
    /*H1*/
    h1{
        font-size: 4rem;
        color: var(--color-fondo);
        text-shadow: #000000 4px 4px 0.5px;/*-----------------------------------sombra al titulo*/
    }
    /*H2*/
    h2{
        font-size: 3rem;
        color: var(--color-primario);
    }
    /*H3*/
    h3{
        font-size: 2rem;
        color: var(--color-secundario);
    }


/*--Body--*/
    body{
        font-family:var(--fuente);  /*aplicacion de tipografica*/
        font-size: 1rem;
        line-height: 1.5;

        background-color: var(--color-fondo-secundario);/*---------------------------------------------------------*/
        color: var(--color-texto);
        
        max-width: 1300px; /*centra el contenido de la pagina*/
        margin: 0 auto;
        padding: 0 1rem;
         border-radius: 10px;
        
    }

    /*-Header-*/
    header{
        background: -webkit-linear-gradient(top, var(--color-primario), #12e3ff, #ffffff); /*--------------bradiente en header*/
        
    }


    header.titulo{      /*retecno argentina y nav*/
        display: flex;
        justify-content: center;
        padding: 20px 0;
        border-radius: 10px;
        border:5px solid black
    }

    nav.menu {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items:end;
    }

    a:hover{
        background-color: var(--color-primario);
        border-radius: 5px;
        padding: 5px;
    }

    /*-Main-*/
        main{
            background-color: var(--color-fondo-primario);/*---------------------------------------------*/
            padding: 20px;/*----------------------------------------------------------------------------*/
            border-radius: 10px;/*---------------------------------------------------------------------*/
            box-shadow: 0 0 10px rgba(0,0,0,0.1);/*-------------------------------------------------*/
            border: 5px solid var(--color-texto);/*------------------------------------------------------------------*/
        
        }    

    
    
/*--Navegacion-----------------------------------------------------------------------------------------*/
    /*Nav*/
    #contenido {
        padding: 10px 20px 20px 10px;
        border-radius: 10px;
        border-color: #1A1A1A;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

        /*ul*/
            /*li*/
            ul{
                padding: 1px 50px;
            }

                /*a*/
    section{
        padding: 10px 20px 20px 10px;
        border-radius: 10px;
        border-color: #1A1A1A;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }  

    article{
        padding: 10px 20px 20px 10px;
        border-radius: 10px;
        border-color: #1A1A1A;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);        
    }  

    /*-Footer-*/
    footer{
        background: var(--color-secundario);
    }



/*---------------------------------------------------------------------------------------Tablas*/
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 10px;
    }
    thead {
        background-color: var(--color-acento);
        color: white;
    }
    tbody tr:nth-child(odd) {/*intercala colores de forma impar (odd)*/
        background-color: #f8f9fa;
    }

/*-------------------------------------------------------------------------transformacion de imagenes*/
    img{
        transition-property: transform;
        transition-duration: 0.5s;
        transition-delay: 0s;
        transition-timing-function: ease; 
    }

    img:hover { 
        transform: scale(1.05); 
    }

/*-----------------------------------------------------------------------------transiciones H1*/
    .titulo{
        position: relative;
        display: inline-block;

        transition-property: color, transform;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        transform-origin: center;
    }

    /* barra */
    .titulo::before{
        content: "";

        position: absolute;

        left: 0;
        bottom: 0;

        width: 0%;
        height: 100%;

        background: linear-gradient(to right, cyan, rgb(255, 255, 255));

        z-index: -1;

        transition: width 0.5s ease;
    }

    /* hover */
    .titulo:hover{
        color: red;
        transform: scale(1.05);
    }

    /* animación barra */
    .titulo:hover::before{
        width: 100%;
    }
/*-------------------------------------------------transiciones H2*/
    h2{
        position: relative;
        display: inline-block;

        transition-property: color, transform;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        transform-origin: center;
    }

    /* barra */
    h2:before{
        content: "";

        position: absolute;

        left: 0;
        bottom: 0;

        width: 0%;
        height: 100%;

        background: linear-gradient(to right, rgb(200, 255, 0), rgb(255, 255, 255));

        z-index: -1;

        transition: width 0.5s ease;
    }

    /* hover */
    h2:hover{
        color: red;
        transform: scale(1.05);
    }

    /* animación barra */
    h2:hover::before{
        width: 100%;
    }

/*-------------------------------------------------transiciones H3*/
    h3{
        position: relative;
        display: inline-block;

        transition-property: color, transform;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        transform-origin: center;
    }

    /* barra */
    h3:before{
        content: "";

        position: absolute;

        left: 0;
        bottom: 0;

        width: 0%;
        height: 100%;

        background: linear-gradient(to right, rgb(0, 255, 76), rgb(255, 255, 255));

        z-index: -1;

        transition: width 0.5s ease;
    }

    /* hover */
    h3:hover{
        color: red;
        transform: scale(1.05);
    }

    /* animación barra */
    h3:hover::before{
        width: 100%;
    } 

    /*---------------------------------------------------------------------------animacion de articulos*/
    article{
        animation: fadeInScale linear;/*indica que animacion usar*/
        animation-timeline: view(); /*la animación depende del scroll*/
        animation-range: entry 0% cover 40%;/*entry 0%:La animación empieza cuando el elemento empieza a entrar. cover 40%: La animación termina cuando el elemento cubre el 40% del viewport.*/
    }
    @keyframes fadeInScale{/*animacion*/
        from{
            opacity: 0;/*opacidad*/
            scale: 0.5;/*escala*/
        }
        to{
            opacity: 1;
            scale: 1;
        }
    }
    