/* Estilo general */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #ff0000;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Contenido */
main {
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #2600ff;
    color: white;
    text-align: center;
    padding: 10px;
}